.images {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}
.page1 {
	margin-left: 100px;
	margin-right: 100px;
	width: auto;
	height: 800px;
	border: 2px solid black;
}
table {
	left: 50%;
	position: absolute;
}
button {
	height: 100px;
	width: 100px;
	border-radius: 10px;
}
.homebutton {
	position: absolute;

}
.buttontocashier {
	background-size: cover;
	background-image: url("cashiericon.jpg");
	position: relative;
	top: 699px;
	left: 1022px;
}