
body {
	background-image: url("images/background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
}

table {
	left: 50%;
}
button {
	height: 100px;
	width: 100px;
	border-radius: 1px;
	border: none;
	transition-duration: 0.2s;
 	cursor: pointer;
	background-color: black;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
button:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}
div.viewcart {
	width: 110px;
	height: auto;
	color:white;
	text-align: center;
	margin-top: 10px;
	
}
div.viewitems {
	width: 110px;
	height: auto;
	color:white;
	text-align: center;
	margin-top: 10px;
	
}
nav {
	margin: 10px;
	width: auto;
	height: 50px;
	border: 1px solid black;
	border-radius: 5px;
}

button.setting {
    float: right;
	position: absolute;
	right: 220px;
	margin: 0px;
	height: auto;
	width: auto;
	top: 63px;
}
div.settingshow {
	display: none;
    right: 220px;
    top: 114px;
	position: absolute;
	height: 40px;
	width: auto;
	background-color: orange;
	z-index: 10;
}
div.store {
	display: flex;
	justify-items: center;
			
}
div.item {
	position: relative;
	border: 1px solid black;
	margin: 10px;
	height: auto;
	width: 200px;
	
}
div.item.food1 {
	background-image: url("images/tapsilog.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
div.item.food2 {
	background-image: url("images/hotsilog.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
div.item.food3 {
	background-image: url("images/chicksilog.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
div.item.food4 {
	background-image: url("images/sisigsilog.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
div.item.food5 {
	background-image: url("images/bangsilog.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
div.item.food6 {
	background-image: url("images/porksilog.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
div.item.food7 {
	background-image: url("");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
div.item.food8 {
	background-image: url("");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
div.items {
	height: 100px;
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	position: relative;
	justify-content: center;
}
button.addtocart {
	height: 50px;
	width: 100px;
	position: relative;
	float: right;
	border: 1px solid;
	border-radius: 5px;
}
div.POP {
	display: none;
	height: 157px;
	width: 200px;
	position: fixed;
	border-radius: 5px;
	background-image: url("none");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;	
	top: 200px;
	left: 45%;
	z-index: 101;
	border: 1px solid black;
}
div.POP1 {
	display: none;
	height: 500px;
	width: 500px;
	position: fixed;
	border: 2px solid black;
	border-radius: 20px;
	background-color: white;
	top: 100px;
	left: 30%;
	z-index: 100;

}
div.POP2 {
	display: none;
	height: 300px;
	width: 200px;
	position: fixed;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	top: 200px;
	left: 75%;
	z-index: 100;
}
div.itemsincart {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}
p.print {
	color: black;
	z-index: 101;
	bottom: 0px;
}
.menu_first {
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:150px;
	border: 1px solid black;
	justify-content: center;
	align-content: center;
	height: 300px;
}
.menu {
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:50px;
	border: 1px solid black;
	justify-content: center;
	align-content: center;
	height: 300px;
		
}
.mainpage {
	justify-content: center;
	margin-top: 50px;
	margin-left: 200px;
	margin-right: 200px;
	width: auto;
	height: 1000px;
	border: 2px solid black;
	background-color: white;
}
.quantity {
	width: 70px;
			
}
.outer {
	display: flex;
	justify-content: center;
 	align-items: center;
	left: 0px;
	top: 95px;
	position: absolute;
 

}
div.decrease {
	border: 1px solid black;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: white;
}
div.increase {
	border: 1px solid black;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: white;
}
div.addtocart {
	border: 1px solid black;
	width: 77px;
	height: 60px;
	right: 0px;
	top: 95px;
	background-image: url("images/carticon.jpg");
	background-size: cover;
	position: absolute;
	background-position: center;
}
div.X {
	background-image: url("images/Xicon.png");
	background-size: cover;
	background-position: center;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0px;
	top: 0px;
	border-radius: 20px;
			
}
div.calculate {
	position: absolute;
	right: 100px;
	bottom: 0px;
	border: 1px solid black;
	height: 50px;
	width: 100px;
	text-align: center;
	border-radius: 20px;
}
div.buy {
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: 1px solid black;
	height: 50px;
	width: 100px;
	text-align: center;
	border-radius: 20px;
}
.userinput {
	position: absolute;
	right: 0px;
	bottom: 100px;
	border-radius: 20px;
}
.right {
	border-radius: 10px;
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: white;
	width: 15%;
	height: 10%;
	transition: height 2s ease;
}
.button {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: red;
}
.button1 {
	height: 30px;
	width: 80px;
	z-index: 11;
}
.features {
	display: none;
	width: 300px;
	height: 300px;
	position: fixed;
	top: 150px;
	left: 1000px;
	border: 1px solid black;
	}
.receipt {
	display: none;
	position: fixed;
	border: 2px solid black;
	top: 100px;
	left: 500px;
	z-index: 100;
	height: 400px;
	width: 300px;
	background-color: white;
}
.h {
	display: none;
}
